<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">绑定二维码</h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!--start: 活动管理-->
<div class="container-fluid container-fullw bg-white" ng-controller="bindQRCodeDetailCtrl">
    <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">
        <div class="row padding-top-20">
            <!--start: 添加活动表单-->
            <form name="Form" id="form1" novalidate class="autoask-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group margin-top-remove">
                            <div class="col-md-12">
                                <table class="autoask-table table">
                                    <caption class="clearfix">绑定二维码
                                        <a href="#/app/factoryInfo/qrcode/modify"
                                           class="pull-right btn btn-wide btn-ask-primary"><i class="fa fa-plus"></i>编辑</a>
                                    </caption>
                                    <tbody>
                                    <tr>
                                        <td class="">二维码编号</td>
                                        <td class="">
                                            <span>{{qrCode}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end: 添加活动表单-->
        </div>
    </div>
</div>
<!--end: 活动管理-->

