<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">基本信息</h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!--start: 活动管理-->
<div class="container-fluid container-fullw bg-white" ng-controller="serviceProviderModifyCtrl">
    <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">
        <div class="row padding-top-20">
            <div class="col-md-12">
                <!--start: 添加活动表单-->
                <form name="Form" id="form1" novalidate class="autoask-form">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group margin-top-remove">
                                <div class="col-md-12">
                                    <table class="autoask-table table">
                                        <caption class="clearfix">基本信息
                                            <a href="" class="pull-right btn btn-wide btn-ask-primary" ng-click="form.submit(Form)"><i
                                                    class="fa fa-plus"></i>保存</a>
                                        </caption>
                                        <tbody>
                                        <tr ng-class="{'has-error':Form.partner.$dirty && Form.partner.$invalid, 'has-success':Form.partner.$valid}">
                                            <td class="col-md-2">所属合作商 <span class="symbol required"></span></td>
                                            <td class="col-md-10">
                                                <span>{{serviceProvider.partnerName}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.logoUrl.$dirty && Form.logoUrl.$invalid, 'has-success':Form.logoUrl.$valid}">
                                            <td class="col-md-2">LOGO <span class="symbol required"></span></td>
                                            <td class="col-md-10">
                                                <img ng-src="{{serviceProvider.logoUrl}}" alt="" width="100"
                                                     height="100"/>
                                                <input style="display: none;" ng-model="serviceProvider.logoUrl"
                                                       required
                                                       name="logoUrl"/>
                                                <a href="javascript:;" class="a-upload"
                                                   style="top: 28px;left: 15px;">
                                                    <input type="file" class="upload_file" id="uploadLogo"
                                                           placeholder="上传LOGO"
                                                           onchange="angular.element(this).scope().uploadImage(this);">上传LOGO
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
                                            <td class="col-md-2">服务店名称 <span class="symbol required"></span></td>
                                            <td class="col-md-10">
                                                <input type="text" placeholder="服务店名称" class="col-md-3"
                                                       name="name" ng-model="serviceProvider.name" required/>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.contact.$dirty && Form.contact.$invalid, 'has-success':Form.contact.$valid}">
                                            <td class="col-md-2">联系人 <span class="symbol required"></span></td>
                                            <td class="col-md-10">
                                                <input type="text" placeholder="联系人" class="col-md-3"
                                                       name="contact" ng-model="serviceProvider.contact" required/>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.call.$dirty && Form.call.$invalid, 'has-success':Form.call.$valid}">
                                            <td class="col-md-2">电话</td>
                                            <td class="col-md-10">
                                                <input type="text" placeholder="电话" class="col-md-3"
                                                       name="call" ng-model="serviceProvider.call"/>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.phone.$dirty && Form.phone.$invalid, 'has-success':Form.phone.$valid}">
                                            <td class="col-md-2">手机 <span class="symbol required"></span></td>
                                            <td class="col-md-10">
                                                <input type="text" placeholder="手机" class="col-md-3"
                                                       name="phone" ng-model="serviceProvider.phone" required/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">地址</td>
                                            <td class="col-md-10">
                                                <!-- 地址信息 -->
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <div class="form-group"
                                                             ng-class="{'has-error':Form.addressProvince.$dirty && Form.addressProvince.$invalid, 'has-success':Form.addressProvince.$valid}">
                                                            <label for="addressProvince">
                                                                省 <span class="symbol required"></span>
                                                            </label>
                                                            <select class="form-control" id="addressProvince"
                                                                    name="addressProvince"
                                                                    ng-model="serviceProvider.address.province"
                                                                    ng-change="provinceChanged(serviceProvider.address.province)"
                                                                    required>
                                                                <option value="" disabled>&nbsp;</option>
                                                                <option ng-repeat="p in provinces">{{p}}</option>
                                                            </select>
                                                                <span class="error text-small block"
                                                                      ng-if="Form.addressProvince.$dirty && Form.addressProvince.$error.required">请选择省份</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group"
                                                             ng-class="{'has-error':Form.addressCity.$dirty && Form.addressCity.$invalid, 'has-success':Form.addressCity.$valid}">
                                                            <label for="addressCity">
                                                                市 <span class="symbol required"></span>
                                                            </label>
                                                            <select class="form-control" id="addressCity"
                                                                    name="addressCity"
                                                                    ng-model="serviceProvider.address.city"
                                                                    ng-change="cityChanged(serviceProvider.address.province, serviceProvider.address.city)"
                                                                    required>
                                                                <option value="" disabled>&nbsp;</option>
                                                                <option ng-repeat="c in cities">{{c}}</option>
                                                            </select>
                                                                <span class="error text-small block"
                                                                      ng-if="Form.addressCity.$dirty && Form.addressCity.$error.required">请选择城市</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group"
                                                             ng-class="{'has-error':Form.addressRegion.$dirty && Form.addressRegion.$invalid, 'has-success':Form.addressRegion.$valid}">
                                                            <label for="addressRegion">
                                                                区 <span class="symbol required"></span>
                                                            </label>
                                                            <select class="form-control" id="addressRegion"
                                                                    name="addressRegion"
                                                                    ng-model="serviceProvider.address.region"
                                                                    ng-change="regionChanged(serviceProvider.address.province, serviceProvider.address.city, serviceProvider.address.region)"
                                                                    required>
                                                                <option value="" disabled>&nbsp;</option>
                                                                <option ng-repeat="r in regions">{{r}}</option>
                                                            </select>
                                                                <span class="error text-small block"
                                                                      ng-if="Form.addressRegion.$dirty && Form.addressRegion.$error.required">请选择区</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group"
                                                             ng-class="{'has-error':Form.addressStreet.$dirty && Form.addressStreet.$invalid, 'has-success':Form.addressStreet.$valid}">
                                                            <label for="addressStreet">
                                                                街道 <span class="symbol required"></span>
                                                            </label>
                                                            <select class="form-control" id="addressStreet"
                                                                    name="addressStreet"
                                                                    ng-model="serviceProvider.address.street"
                                                                    required>
                                                                <option value="" disabled>&nbsp;</option>
                                                                <option ng-repeat="s in streets">{{s}}</option>
                                                            </select>
                                                                <span class="error text-small block"
                                                                      ng-if="Form.addressStreet.$dirty && Form.addressStreet.$error.required">请填写街道</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group"
                                                             ng-class="{'has-error':Form.addressDetail.$dirty && Form.addressDetail.$invalid, 'has-success':Form.addressDetail.$valid}">
                                                            <label for="addressDetail">
                                                                详细地址 <span class="symbol required"></span>
                                                            </label>
                                                            <input type="text" placeholder="详细地址" id="addressDetail"
                                                                   class="form-control" name="addressDetail"
                                                                   ng-model="serviceProvider.address.detail"
                                                                   required/>
                                                                <span class="error text-small block"
                                                                      ng-if="Form.addressDetail.$dirty && Form.addressDetail.$invalid">详细地址不可为空</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.startTime.$dirty && Form.startTime.$invalid && Form.endTime.$dirty && Form.endTime.$invalid, 'has-success':Form.startTime.$valid && Form.endTime.$valid}">
                                            <td class="col-md-2">营业时间 <span class="symbol required"></span></td>
                                            <td class="col-md-10 padding-left-20">
                                                <div class="row">
                                                    <input id="startTime" type="text" class="col-md-1"
                                                           name="startTime"
                                                           ng-model="serviceProvider.startTime" required/>
                                                    <span class="col-md-1">-</span>
                                                    <input id="endTime" type="text" class="col-md-1" name="endTime"
                                                           ng-model="serviceProvider.endTime" required/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-class="{'has-error':Form.serviceContent.$dirty && Form.serviceContent.$invalid, 'has-success':Form.serviceContent.$valid}">
                                            <td class="col-md-2">服务项目 <span class="symbol required"></span></td>
                                            <td class="col-md-10">
                                                    <textarea rows="10" cols="30" name="serviceContent"
                                                              ng-model="serviceProvider.serviceContent"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">服务店图片</td>
                                            <td class="col-md-10 padding-left-0 row">
                                                <div class="col-md-9 padding-left-0">
                                                    <div class="col-md-3 padding-left-0 thumbnail-wrap"
                                                         ng-repeat="itemUrl in serviceProvider.picUrlList">
                                                        <a href="javascript:;" class="glyphicon glyphicon-remove"
                                                           ng-click="deleteImage(serviceProvider.picUrlList,$index)"></a>
                                                        <img ng-src="{{itemUrl}}" width="145"
                                                             height="145">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="javascript:;" class="a-upload"
                                                       style="top: 8px;left: 15px;">
                                                        <input type="file" class="upload_file"
                                                               id="uploadServiceProvider" placeholder="上传服务店图片"
                                                               onchange="angular.element(this).scope().uploadImage(this);">上传服务店图片
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end: 添加活动表单-->
            </div>
        </div>
    </div>
</div>
<!--end: 活动管理-->


