<div ng-controller="outletsDetailCtrl">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">分销点{{action | actionZh}}</h1>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->

    <!--start: 活动管理-->
    <div class="container-fluid container-fullw bg-white">
        <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">
            <div class="row padding-top-20">
                <div class="col-md-12">
                    <!--start: 添加活动表单-->
                    <form name="Form" id="form1" novalidate class="autoask-form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>
                                        分销点
                                    </legend>

                                    <div class="form-group margin-top-remove">
                                        <div class="col-md-12">
                                            <table class="autoask-table table">
                                                <tbody>
                                                <tr ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
                                                    <td class="col-md-2">分销点名称 <span class="symbol required"></span>
                                                    </td>
                                                    <td class="col-md-10">
                                                        <input type="text" placeholder="分销点名称" class="col-md-3"
                                                               name="name" ng-model="outlets.name" required/>
                                                    </td>
                                                </tr>
                                                <tr ng-class="{'has-error':Form.contact.$dirty && Form.contact.$invalid, 'has-success':Form.contact.$valid}">
                                                    <td class="col-md-2">联系人 <span class="symbol required"></span></td>
                                                    <td class="col-md-10">
                                                        <input type="text" placeholder="联系人" class="col-md-3"
                                                               name="contact" ng-model="outlets.contact" required/>
                                                    </td>
                                                </tr>
                                                <tr ng-class="{'has-error':Form.call.$dirty && Form.call.$invalid, 'has-success':Form.call.$valid}">
                                                    <td class="col-md-2">电话</td>
                                                    <td class="col-md-10">
                                                        <input type="text" placeholder="电话" class="col-md-3"
                                                               name="call" ng-model="outlets.call"/>
                                                    </td>
                                                </tr>
                                                <tr ng-class="{'has-error':Form.phone.$dirty && Form.phone.$invalid, 'has-success':Form.phone.$valid}">
                                                    <td class="col-md-2">手机 <span class="symbol required"></span></td>
                                                    <td class="col-md-10">
                                                        <input type="text" placeholder="手机" class="col-md-3"
                                                               name="phone" ng-model="outlets.phone" required/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-2">地址</td>
                                                    <td class="col-md-10">
                                                        <!-- 地址信息 -->
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="form-group"
                                                                     ng-class="{'has-error':Form.addressProvince.$dirty && Form.addressProvince.$invalid, 'has-success':Form.addressProvince.$valid}">
                                                                    <label for="addressProvince">
                                                                        省 <span class="symbol required"></span>
                                                                    </label>
                                                                    <select class="form-control" id="addressProvince"
                                                                            name="addressProvince"
                                                                            ng-model="outlets.address.province"
                                                                            ng-change="provinceChanged(outlets.address.province)"
                                                                            ng-options="p for p in provinces"
                                                                            required>
                                                                        <option value="" disabled>&nbsp;</option>
                                                                    </select>
                                                                    <span class="error text-small block"
                                                                          ng-if="Form.addressProvince.$dirty && Form.addressProvince.$error.required">请选择省份</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group"
                                                                     ng-class="{'has-error':Form.addressCity.$dirty && Form.addressCity.$invalid, 'has-success':Form.addressCity.$valid}">
                                                                    <label for="addressCity">
                                                                        市 <span class="symbol required"></span>
                                                                    </label>
                                                                    <select class="form-control" id="addressCity"
                                                                            name="addressCity"
                                                                            ng-model="outlets.address.city"
                                                                            ng-options="c for c in cities"
                                                                            ng-change="cityChanged(outlets.address.province, outlets.address.city)"
                                                                            required>
                                                                        <option value="" disabled>&nbsp;</option>
                                                                    </select>
                                                                    <span class="error text-small block"
                                                                          ng-if="Form.addressCity.$dirty && Form.addressCity.$error.required">请选择城市</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group"
                                                                     ng-class="{'has-error':Form.addressRegion.$dirty && Form.addressRegion.$invalid, 'has-success':Form.addressRegion.$valid}">
                                                                    <label for="addressRegion">
                                                                        区 <span class="symbol required"></span>
                                                                    </label>
                                                                    <select class="form-control" id="addressRegion"
                                                                            name="addressRegion"
                                                                            ng-model="outlets.address.region"
                                                                            ng-change="regionChanged(outlets.address.province, outlets.address.city, outlets.address.region)"
                                                                            ng-options="r for r in regions"
                                                                            required>
                                                                        <option value="" disabled>&nbsp;</option>
                                                                    </select>
                                                                    <span class="error text-small block"
                                                                          ng-if="Form.addressRegion.$dirty && Form.addressRegion.$error.required">请选择区</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group"
                                                                     ng-class="{'has-error':Form.addressStreet.$dirty && Form.addressStreet.$invalid, 'has-success':Form.addressStreet.$valid}">
                                                                    <label for="addressStreet">
                                                                        街道 <span class="symbol required"></span>
                                                                    </label>
                                                                    <select class="form-control" id="addressStreet"
                                                                            name="addressStreet"
                                                                            ng-model="outlets.address.street"
                                                                            ng-options="s for s in streets"
                                                                            required>
                                                                        <option value="" disabled>&nbsp;</option>
                                                                    </select>
                                                                    <span class="error text-small block"
                                                                          ng-if="Form.addressStreet.$dirty && Form.addressStreet.$error.required">请填写街道</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group"
                                                                     ng-class="{'has-error':Form.addressDetail.$dirty && Form.addressDetail.$invalid, 'has-success':Form.addressDetail.$valid}">
                                                                    <label for="addressDetail">
                                                                        详细地址 <span class="symbol required"></span>
                                                                    </label>
                                                                    <input type="text" placeholder="详细地址"
                                                                           id="addressDetail"
                                                                           class="form-control" name="addressDetail"
                                                                           ng-model="outlets.address.detail"
                                                                           required/>
                                                                    <span class="error text-small block"
                                                                          ng-if="Form.addressDetail.$dirty && Form.addressDetail.$invalid">详细地址不可为空</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-2">状态</td>
                                                    <td class="col-md-10">
                                                        <div class="col-md-2 padding-left-0">
                                                            <span>{{outlets.activated | activeStatusZh}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row" ng-if="action !== 'info'">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-ask-primary" ng-click="form.submit(Form)">
                                            提 交
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!--end: 添加活动表单-->
                </div>
            </div>
        </div>
    </div>
    <!--end: 活动管理-->
</div>