<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">服务详情</h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!--start: 服务管理-->
<div class="container-fluid container-fullw" ng-controller="serviceDetailCtrl">
    <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">
        <div class="row" style="padding-top: 20px">
            <div class="col-md-12">
                <!--start: 添加服务表单-->
                <form name="Form" id="form1" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    服务
                                </legend>
                                <div class="form-group"
                                     ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
                                    <label class="control-label col-md-3">
                                        渠道<span class="symbol required"></span>
                                    </label>
                                    <div class="col-md-9" ng-bind-html="data.channel"></div>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}" style="margin-top: 70px;">
                                    <label class="control-label col-md-3">
                                        服务名称
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="col-md-9" ng-bind-html="data.title"></div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}" style="margin-top: 140px;">
                                    <label class="control-label col-md-3">
                                        具体内容
                                        <span class="symbol required"></span>
                                    </label>

                                    <div class="col-md-9" ng-bind-html="data.content"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
                <!--end: 添加服务表单-->
            </div>
        </div>
    </div>
</div>
<!--end: 服务管理-->

