<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">快递类型管理</h1>
            <!--<span class="mainDescription"></span>-->
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: 快递类型列表 -->
<div class="container-fluid container-fullw" ng-controller="expressTypeListCtrl">
    <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">
        <div class="row margin-bottom-30">
            <div class="col-md-3">
                <label for="">快递中文名</label>
                <input placeholder="快递中文名" type="text" class="form-control" ng-model="criteria.cnName"/>
            </div>
            <div class="col-md-3">
                <label for="">快递英文名</label>
                <input placeholder="快递英文名" type="text" class="form-control" ng-model="criteria.ukName"/>
            </div>

            <div class="col-md-1 margin-top-22">
                <button class="btn btn-wide btn-ask-primary" ng-click="query()"><i class="fa fa-find"></i>查询</button>
            </div>
        </div>

        <!-- 添加按钮 -->
        <div class="row margin-bottom-10 text-right">
            <a href="#/app/express/typeAdd"
               class="btn btn-wide btn-ask-primary"><i class="fa fa-plus"></i>添加类型</a>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table ng-table="tableParams" class="table" cg-busy="{promise:loadingPromise}">
                    <tbody ng-repeat="p in data">
                            <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td class="rowTd" data-title="'创建时间'">{{p.createTime}}</td>
                            <td class="rowTd" data-title="'中文名'">{{p.cnName}}</td>
                            <td class="rowTd" data-title="'英文名'">{{p.ukName}}</td>
                            <td class="rowTd text-right">
                                <a href="#/app/express/typeModify/{{p.id}}" class="btn btn-ask-modify btn-sm">修改</a>
                            </td>
                            <td class="rowTd text-right">
                                <a href="#/app/express/typeDetail/{{p.id}}" class="btn btn-ask-view btn-sm">详情</a>
                            </td>
                            <td class="rowTd text-right">
                                <input type=button class="btn btn-ask-del btn-sm" id="delRowBtn{{p.id}}" value="删除" ng-click="delete(p.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>