<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">修改密码</h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!--start: 账户管理-->
<div class="container-fluid container-fullw bg-white" ng-controller="modifyPasswordCtrl">
    <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">
        <div class="row padding-top-20">
            <div class="col-md-12">
                <!--start: 修改密码-->
                <form name="Form" id="form1" novalidate class="autoask-form">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    修改密码
                                </legend>

                                <div class="form-group"
                                     ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid, 'has-success':Form.password.$valid}">
                                    <label class="control-label col-md-3">新密码 <span
                                            class="symbol required"></span></label>
                                    <input type="password" placeholder="新密码" class="col-md-3" name="password" required
                                           ng-model="password"/>
                                </div>

                                <div class="form-group" ng-class="{'has-error':Form.confirmPassword.$dirty && Form.confirmPassword.$invalid, 'has-success':Form.confirmPassword.$valid}">
                                    <label class="control-label col-md-3">确认新密码 <span
                                            class="symbol required"></span></label>
                                    <input type="password" placeholder="确认新密码" class="col-md-3" name="confirmPassword" required
                                           ng-model="confirmPassword"/>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="button" class="btn btn-ask-primary" ng-click="form.submit(Form)">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end: 修改密码-->
            </div>
        </div>
    </div>
</div>
<!--end: 账户管理-->

