<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">服务点无货订单</h1>
            <!--<span class="mainDescription"></span>-->
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: 订单列表 -->
<div class="container-fluid container-fullw" ng-controller="offlineListCtrl">
    <div class="container-fluid container-full" cg-busy="{promise:loadingPromise}">

        <input type="text" ng-model="criteria.serveTypeList" style="display: none;" ng-init="criteria.serveTypeList = ['offline_appoint']" />
        <input type="text" ng-model="criteria.statusList" style="display: none;" ng-init="criteria.statusList = ['pending_partner','pending_sp']"  />

        <div class="row margin-bottom-30">
            <div class="col-md-3 padding-left-0">
                <label for="startTime">
                    起始日期
                </label>
                <input id="startTime" ng-model="criteria.startTime" class="form-control"
                       onclick="WdatePicker({onpicked: function(){$(this).trigger('change')}})"/>
            </div>
            <div class="col-md-3 padding-left-0">
                <label for="endTime">
                    结束日期
                </label>
                <input id="endTime" ng-model="criteria.endTime" class="form-control"
                       onclick="WdatePicker({onpicked: function(){$(this).trigger('change')}})"/>

            </div>

            <div class="col-md-3 padding-left-0">
                <label for="">输入订单号</label>
                <input placeholder="输入订单号" type="text" class="form-control" ng-model="criteria.orderId"/>
            </div>

            <div class="col-md-3 padding-left-0">
                <label for="partner">
                    合作商
                </label>
                <select class="form-control" id="partner" name="partner"
                        ng-model="criteria.partnerId" ng-change="partnerChanged()">
                    <option value="">不限</option>
                    <option ng-repeat="partner in partnerList" value="{{partner.id}}">{{partner.name}}</option>
                </select>
            </div>

            <div class="col-md-3 padding-left-0">
                <label for="serviceProvider">
                    服务店
                </label>
                <select class="form-control" id="serviceProvider" name="serviceProvider"
                        ng-model="criteria.serviceProviderId">
                    <option value="">不限</option>
                    <option ng-repeat="sp in serviceProviderList" value="{{sp.id}}">{{sp.name}}</option>
                </select>
            </div>

            <div class="col-md-3 padding-left-0">
                <label for="productCategoryId">所属产品类别</label>
                <select class="form-control" id="productCategoryId"
                        ng-model="criteria.productCategoryId"
                        ng-change="productCategoryChanged()"
                        required>
                    <option value="">所有</option>
                    <option ng-repeat="p in productCategoryList"
                            value="{{p.productCategoryId}}">{{p.name}}
                    </option>
                </select>
            </div>
            <div class="col-md-3 padding-left-0">
                <label for="productId">
                    所属产品
                </label>
                <select class="form-control" id="productId" name="productId"
                        ng-model="criteria.productId" ng-change="productChanged()"
                        required>
                    <option value="">所有</option>
                    <option ng-repeat="p in productList" value="{{p.productId}}">{{p.name}}
                    </option>
                </select>
            </div>
            <div class="col-md-3 padding-left-0">
                <label for="goodsId">
                    所属商品
                </label>
                <select class="form-control" id="goodsId" name="goodsId"
                        ng-model="criteria.goodsId"
                        required>
                    <option value="">所有</option>
                    <option ng-repeat="g in goodsList" value="{{g.id}}">{{g.name}}
                </select>
            </div>

            <div class="col-md-3 padding-left-0">
                <label for="">商品名称</label>
                <input placeholder="商品名称" type="text" class="form-control" ng-model="criteria.goodsName"/>
            </div>

            <div class="col-md-1 margin-top-22">
                <button class="btn btn-wide btn-ask-primary" ng-click="query()"><i class="fa fa-find"></i>查询</button>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table ng-table="tableParams" class="table" cg-busy="{promise:loadingPromise}">
                    <tbody ng-repeat="p in data">
                    <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="rowTd" data-title="'服务店'">{{p.orderServe.serviceProviderName}}</td>
                        <td class="rowTd" data-title="'所属合作商'">{{p.orderServe.partnerName}}</td>
                        <td class="rowTd" data-title="'订单号'">{{p.orderId}}</td>
                        <td class="rowTd" data-title="'下单时间'">{{p.createTime}}</td>
                        <td class="rowTd" data-title="'订单总额/元'">{{p.payPrice + p.discountPrice}}</td>
                        <td class="rowTd" data-title="'车主手机号码'">{{p.user.phone}}</td>
                        <td class="rowTd" data-title="'状态'">{{p.status | orderInfoStatusZh}}</td>
                        <td class="rowTd text-right">
                            <a href="" class="btn btn-ask-modify btn-sm"
                               ng-if="p.serveType === 'online' && p.orderDelivery.merchantType === 'autoask'"
                               ng-click="showPromote(p.orderId)">发货</a>
                        </td>
                        <!--<td class="rowTd text-right">-->
                            <!--<a href="" class="btn btn-ask-modify btn-sm"-->
                               <!--ng-if="(p.serveType === 'online' && (p.status === 'payed' || p.status === 'pending_partner')) || (p.serveType === 'offline_appoint' && p.status === 'pending_partner')"-->
                               <!--ng-click="refundOrder(p.orderId)">退款</a>-->
                        <!--</td>-->
                        <td class="rowTd text-right">
                            <a href="#/app/order/detail/{{p.orderId}}" type=button
                               class="btn btn-ask-view btn-sm">详情</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end: 线下订单列表 -->